<div>
 <div class="panel panel-default">
   <div class="panel panel-heading">Pending Requests</div>
   <div class="panel-body">
   <span ng-if="pendingRequests.length==0">No Pending Requests</span>
   <ul style="list-style:none">
  <!-- friendRequest is an object of type Friend -->
   <li ng-repeat="friendRequest in pendingRequests">
   {{friendRequest.fromId.email}}<br>
   {{friendRequest.fromId.firstname}} &nbsp; {{friendRequest.fromId.lastname}}<br>
   {{friendRequest.fromId.role}}<br>
   <img src="http://localhost:8067/SHAREUPmiddleware/getimage/{{friendRequest.fromId.email}}" height="50px" width="50px" alt="No Profile pic"><br>
   <button class="btn btn-primary" ng-click="updateStatus(friendRequest,'A')">Accept the Request</button>
   <button class="btn btn-danger" ng-click="updateStatus(friendRequest,'D')">Delete the Request</button>
   </li>
   
   </ul>
   </div>
 
 </div>

</div>